body {
  background-color: black;
}

.App {
  text-align: center;
  font-family: monospace;
  color: #00ff41;
  padding: 5%;
}

nav a,
nav a:visited {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #008f11;
  text-decoration: none;
  padding: 0.5rem;
}
